/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Riley Cameron and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing March 2021 ------------ */

 html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/lines_bg.jpg) 
      center center fixed no-repeat;
    background-size: cover;
	
    }

.intro {
	text-align: center;
    margin: 40px;
    }

   
#logo {
    margin: 5px;
    position: fixed;
    top: 0px;
    left: -2px;
    z-index: 3;
    max-width: 100%;
    height: auto;
    }

#logobackground {
    margin: 5px;
    position: fixed;
    top: 3px;
    z-index: 1;
    max-width: 100%;
    height: auto;
    }

h1 {
	font-family: louvette-text, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    margin: 0px auto 10px auto;
    color: #b45743;
    }

h2 {
	font-family: louvette-text, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.4;
    color: #b45743;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
    }

a{
    font-family: louvette-text;
    font-size: 1.5em;
    width: 400px;
    margin: 0 auto;
    color: #b45743;
    text-decoration: none;
    font-weight: 100;
    padding: 10px;
    }

a:hover{
    color: white;
    background: #b45743;
    }


div.LinkedIn{
    transform: rotate(-10deg);
    position: fixed;
    top: 263px;
    left: 646px; 
    }

div.Email{
    transform: rotate(-24deg);
    position: fixed;
    top: 626px;
    left: 674px;
    }
        
div.Portfolio{
    position:fixed;
    top:398px;
    left:829px; 
    }

#megraphic {
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    }

#duckgraphic {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 80px;
    bottom: 150px;
        
}



